/*
Juliana's project webpage v.1
Author: Juliana Son
*/
body{
	width: 900px;
	margin: 0 auto;
	background-image: url("images/huacleaflet.jpg");
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 50%;
}
h1{
	font-family: Courier, Georgia, Times;
	font-style: bold;
	font-size: 72px;
	color: #594CFF;
	text-align: center;
	text-shadow: 0 3px 3px #d3d3d3;
}
h2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #bdbdbd;
	font-style: italic;
	text-align: center;
}
p{
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
}
ul{
	font-family: arial;
	font-size: 18px;
}
hr{
	border-color:#56bdd6;
}
h3{
	font-family: arial;
	font-size: 20px;
}
a{
	font-family: arial;
}
a:hover {
	color: red;
}
